*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text-color: hsl(0, 0%, 9%);
  --bg-primary: hsl(30, 63%, 90%);
  --bg-black: hsl(0, 0%, 0%);
  --bg-black-transparent: hsla(0, 0%, 0%, 0.2);
  --bg-white: hsl(0, 0%, 100%);
  --accent-color: hsl(202, 83%, 82%);
  --accent-color-transparent: hsla(202, 83%, 82%, 0.3);

  /* Transitions and Animations */
  --timing-in: ease-in;
  --timing-out: ease-in-out;
  --duration-short: 250ms;
  --duration-medium: 750ms;
  --duration-long: 1000ms;

  font-size: 10px;
  cursor: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  display: none;
}

/* Global Styling */

body {
  background-color: var(--bg-primary);
  font-family: "DM Serif Display", serif;
  margin: 0;
  color: var(--text-color);
}
a {
  cursor: none;
}
h1 {
  font-size: 10rem;
}
p {
  font-size: 3rem;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1::selection,
h2::selection,
p::selection,
span::selection,
img::selection,
figcaption::selection {
  color: var(--bg-primary);
  background-color: var(--accent-color);
}
a::selection {
  color: var(--bg-white);
  background-color: var(--accent-color);
}

/* Custom Cursor */
.circle-cursor {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  pointer-events: none;
  border-radius: 50%;
  transition: background var(--duration-short),
    transform var(--duration-short) var(--timing-out);
  transform-origin: 100% 100%;
}
.circle-cursor.cursor-expand {
  transform: scale(3.5);
  background: transparent;
  border: var(--accent-color) solid 0.1rem;
}
.circle-cursor.cursor-expand-social {
  transform: scale(2);
  background: transparent;
  border: var(--accent-color) solid 0.1rem;
}
.circle-cursor.cursor-image {
  transform: scale(3);
  background: var(--accent-color-transparent);
  border: var(--accent-color) solid 0.1rem;
  backdrop-filter: grayscale(70%);
}
.inner-cursor {
  width: 2rem;
  height: 2rem;
  background: var(--accent-color);
  transform: translate(-50%, -50%);
}

/* Hero */
.hero__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img__container {
  clip-path: path("M 0 100 L 0,150 A 5,7 0,0,1 450,850 L 0 680 z");
  transition: clip-path var(--duration-long);
}
.hero__img {
  width: 450px;
  transition: all var(--duration-long) var(--timing-out);
  filter: grayscale(0.7) blur(1px);
}
.hero__img:hover {
  filter: none;
}
.img__container:hover {
  clip-path: path("M 0 100 L 0,0 A 5,7 0,0,1 450,850 L 0 680 z");
}
.headline {
  font-family: "Playfair Display", serif;
  color: var(--accent-color);
  letter-spacing: 0.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.headline--first {
  position: absolute;
  top: 41%;
  left: 20%;
  transition: font-weight var(--duration-short) var(--timing-out);
}
.headline--second {
  position: absolute;
  top: 58%;
  right: 6%;
  transition: font-weight var(--duration-short) var(--timing-out);
}
.headline--anim {
  font-weight: 900;
}

/* Menu */
.menu__button {
  position: fixed;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 500;
  background-color: var(--bg-primary);
  transition: background var(--duration-short) var(--timing-in);
}
.menu__button:hover {
  background-color: var(--bg-black);
}
.menu__button span {
  display: inline-block;
  width: 2.5rem;
  height: 2.25px;
  background-color: var(--bg-black);
  z-index: 1000;
  transition: background var(--duration-short) var(--timing-out);
}
.menu__button:hover span {
  background-color: var(--bg-primary);
}
.menu__button.menu--open {
  background-color: var(--accent-color);
}
.menu__button.menu--open span {
  background-color: var(--bg-black);
}
.menu__button.menu--open:hover {
  background-color: var(--bg-primary);
}
.menu__button.menu--open:hover span {
  background-color: var(--bg-white);
}
.menu__button span:first-child {
  transform: translateY(0.5rem);
  transition: transform var(--duration-short) var(--timing-in);
}
.menu__button span:last-child {
  transform: translateY(-0.5rem);
  transition: transform var(--duration-short) var(--timing-in);
}
.menu__button.menu--open span:first-child {
  transform-origin: center center;
  transform: translateY(0.85rem) rotate(45deg);
}
.menu__button.menu--open span:last-child {
  transform-origin: center center;
  transform: translateY(-0.85rem) rotate(-45deg);
}
.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-black);
  clip-path: circle(2rem at 5.5rem 5.5rem);
  transition: clip-path var(--duration-medium) var(--timing-out);
  z-index: 100;
  font-family: "Playfair Display", serif;
}
.menu__container.menu--expand {
  clip-path: circle(100%);
}
.menu__container.menu--expand {
  overflow-y: hidden;
}
.menu__list {
  height: 90%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__item {
  margin-bottom: 5rem;
  margin-left: 10rem;
}
.menu__item:nth-child(2n + 1) {
  margin-left: 25rem;
}
.menu__link {
  /* font-family: "Playfair Display", serif; */
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.35rem;
  font-size: 7rem;
  text-decoration: none;
  color: var(--accent-color);
}
.social__links {
  padding: 0 2rem;
  position: absolute;
  height: auto;
  width: 25%;
  bottom: 1.75%;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.social__link {
  /* font-family: "Playfair Display", serif; */
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  text-decoration: none;
  color: var(--accent-color);
}
.menu__link.hovered-link,
.social__link.hovered-link {
  color: var(--bg-white);
}
.menu__link:focus-visible,
.social__link:focus-visible {
  outline: var(--accent-color) auto 0.1rem;
  outline-offset: 0.3rem;
}
.prevent--scrolling {
  overflow-y: hidden;
}
/* Body Content */
.body__container {
  min-height: 100vh;
  padding: 0 0 4rem 4rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "quote ... vert"
    "... gall vert"
    "title gall vert"
    "info gall vert"
    "... gall vert";
}
.quote {
  font-size: 5rem;
  grid-area: quote;
  grid-column: 1 / span 2;
  margin: 0 auto;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 9rem;
}
.quote--highlighted {
  display: inline-block;
  color: var(--accent-color);
}
.sub__headline {
  grid-area: title;
  max-width: 27ch;
  align-self: end;
  position: relative;
}
.sub__headline::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 14rem;
  top: -2rem;
  left: 0;
  background-color: var(--accent-color);
}
.info {
  grid-area: info;
  font-size: 1.5rem;
  font-family: "Rosario", sans-serif;
  max-width: 44ch;
  hyphens: auto;
  padding-top: 2rem;
}
.vertical__container {
  grid-area: vert;
  grid-row: 1 / -1;
  display: flex;
  writing-mode: vertical-rl;
  height: 100%;
  justify-content: space-around;
}
.vertical__text {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}
.vertical__text.text--1 {
  margin-bottom: -6.5rem;
}
/* Gallery */
.gall__container {
  grid-area: gall;
  display: flex;
  flex-direction: column;
}
.fig__container {
  position: relative;
  height: 450px;
  width: 300px;
}
.fig__container:nth-of-type(2n) {
  align-self: center;
}
.fig__container:nth-of-type(2n) .gall__indicator {
  left: 148%;
}
.gall__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gall__img.img--1 {
  grid-row: 2;
}
.gall__img.img--2 {
  grid-row: 3;
}
.gall__img.img--3 {
  grid-row: 4;
}
.gall__img.img--4 {
  grid-row: 5;
}
.gall__text {
  width: 150px;
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: -0.35rem;
  align-self: center;
  position: absolute;
  top: 0;
}
.gall__indicator {
  font-size: 20rem;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  font-weight: 400;
  position: absolute;
  top: 198%;
  left: 205%;
}
.gall__caption {
  width: 20ch;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: var(--accent-color);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-top: 4rem;
  position: absolute;
  top: 100%;
  left: -175%;
  width: 20ch;
  text-align: right;
}

/* Footer */
.footer__container {
  color: inherit;
  padding: 0 4rem 0 4rem;
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-areas:
    "info  ..."
    "input  copyright"; */
  grid-template-areas:
    "contact spinning  ..."
    "input spinning ..."
    "... credits credits";
  gap: 1rem;
}
.spinning__container {
  position: fixed;
  grid-area: spinning;
  grid-row: 1 / span 3;
  place-self: center;
  margin: 7rem 7rem 0 0;
}
.spinning--text {
  animation: rotating-text 12000ms linear infinite forwards;
}
.contact__container {
  position: relative;
  grid-area: contact;
  grid-row: 1 / span 2;
  align-self: center;
}
.contact__info {
  max-width: 30ch;
  font-size: 1.75rem;
}
.input__container {
  position: relative;
  width: 30rem;
}
input {
  cursor: none;
  width: 100%;
  margin-top: 5rem;
  line-height: 2;
  padding: 0;
}
.input__container input {
  font-size: 3rem;
  cursor: none;
  font-family: inherit;
  color: var(--bg-black-transparent);
  background: var(--bg-primary);
  appearance: none;
  border: none;
}
.input__container input:focus {
  outline: 0;
}
.input__container:focus-within input,
.input__container:focus-within input::placeholder {
  color: var(--accent-color);
}
.input__container:focus-within input::selection {
  color: var(--bg-primary);
  background-color: var(--accent-color);
}
.input__border {
  left: 0;
  height: 0.3rem;
  width: 100%;
  background: var(--bg-black-transparent);
}
.input__border,
.input__border::after {
  position: absolute;
  bottom: 0;
  transition: all 450ms ease-in-out;
}
.input__border::after {
  content: "";
  left: 0;
  width: 0;
  height: 110%;
  background: var(--accent-color);
}
.input__container:focus-within .input__border::after {
  width: 100%;
}
.credits {
  grid-area: credits;
  /* height: 5vh; */
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  justify-self: center;
  align-self: end;
  margin-left: auto;
  padding-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.credits__link {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.credits__link::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  left: 50%;
  bottom: -0.5rem;
  height: 0.3rem;
  width: 100%;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0.3);
  transition: transform var(--duration-short) var(--timing-in);
}
.credits__link:hover::before {
  transform: translateX(-50%) scaleX(1);
}
.credits__link:hover {
  color: var(--accent-color);
}

@media (prefers-reduced-motion) {
  .spinning--text {
    animation-play-state: paused;
  }
}

@keyframes rotating-text {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

/* TODO: try to see if nesting works in css native */

/* Media Queries */

/* Larger Tablets */
/* @media (max-width: 1199px) {
} */

/* Tablets */
@media (max-width: 768px) {
  .hide-on-tablet {
    display: none;
  }
  /* Hero */
  .img__container {
    clip-path: path("M 0 100 L 0,150 A 5,7 0,0,1 450,850 L 0 680 z");
  }
  .img__container:hover {
    clip-path: path("M 0 100 L 0,150 A 5,7 0,0,1 450,850 L 0 680 z");
  }
  .hero__img {
    filter: none;
  }
  .headline {
    font-size: 8rem;
    font-weight: 700;
  }
  .headline--first {
    top: 50%;
    left: 12%;
  }
  .headline--second {
    top: 60%;
    right: 9%;
  }
  /* Menu */
  .menu__container {
    clip-path: circle(1.5rem at 5.5rem 5.5rem);
  }
  .menu__button:hover {
    background-color: var(--bg-primary);
  }
  .menu__button:hover span {
    background-color: var(--bg-black);
  }
  .menu__button.menu--open,
  .menu__button.menu--open:hover {
    background-color: var(--accent-color);
  }
  .menu__button.menu--open span,
  .menu__button.menu--open:hover span {
    background-color: var(--bg-black);
  }
  .menu__list {
    justify-content: space-evenly;
    margin-top: 4rem;
  }
  .menu__link {
    letter-spacing: 0.1rem;
  }
  .social__links {
    width: 100%;
    justify-content: flex-end;
    bottom: 3%;
  }
  .social__item {
    margin: 0 3rem;
  }

  /* Body Content */
  .body__container {
    padding-left: 3.75rem;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr;
    grid-template-areas:
      "quote ..."
      "title vert"
      "info vert"
      "gall vert";
  }
  .quote {
    font-size: 4rem;
    margin-top: 5rem;
  }
  .sub__headline {
    margin-top: 31rem;
  }
  .sub__headline::before {
    left: auto;
  }
  .info {
    padding: 0;
    margin-top: 5rem;
  }
  .gall__container {
    margin-top: 10rem;
  }
  .fig__container:not(:last-of-type) {
    margin-bottom: 10rem;
  }
  .gall__indicator {
    left: 158%;
  }
  .gall__caption {
    position: relative;
    top: -50%;
    left: 240%;
    text-align: left;
  }
  .footer__container {
    gap: 0;
    padding-left: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "contact"
      "spinning"
      "credits";
  }
  .form__container {
    margin-top: -3rem;
  }
  .input__container {
    width: 30rem;
  }
  .spinning__container {
    position: initial;
    margin: 15rem 5rem 0 0;
    grid-row: 1 / span 2;
    place-self: end;
  }
  .credits {
    margin: 0;
    padding-bottom: 1rem;
  }
}

/* Mobile Screen Sizes & Viewports */
@media (max-width: 480px) {
  .hide-on-mobile {
    display: none;
  }
  /* Hero */
  .img__container {
    margin-top: 3rem;
    clip-path: path("M 0 100 L 0,50 A 7,8 0,0,1 250,400 L 0 380 z");
  }
  .img__container:hover {
    clip-path: path("M 0 100 L 0,50 A 7,8 0,0,1 250,400 L 0 380 z");
  }
  .hero__img {
    width: 250px;
  }
  .headline {
    font-size: 5rem;
    font-weight: 700;
  }
  .headline--first {
    top: 53%;
    left: 4%;
  }
  .headline--second {
    top: 60%;
    right: 1%;
  }

  /* Menu */
  .menu__button {
    top: 1rem;
    left: 1rem;
  }
  /* .menu__button:hover {
    background-color: var(--accent-color);
  } */
  .menu__container {
    clip-path: circle(1.5rem at 3.5rem 3.5rem);
    width: 101%;
  }
  .menu__list {
    justify-content: space-evenly;
    margin: 0;
  }
  .menu__item {
    margin-left: 6rem;
  }
  .menu__item:nth-child(2n + 1) {
    margin-left: 12rem;
  }
  .menu__link {
    font-size: 4rem;
  }
  .social__links {
    width: 100%;
  }

  /* Body Content */
  .body__container {
    padding-left: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "quote"
      "title"
      "info"
      "gall";
  }
  .quote {
    margin: 0;
    max-width: 17ch;
    margin-top: 3rem;
    font-size: 3rem;
  }
  .sub__headline {
    margin-top: 12rem;
  }
  .sub__headline::before {
    width: 7rem;
  }
  .info {
    padding: 0;
    margin-top: 5rem;
  }
  .gall__container {
    margin-top: 10rem;
  }
  .fig__container {
    height: 350px;
    width: 200px;
  }
  .fig__container:not(:last-of-type) {
    margin-bottom: 10rem;
  }
  .gall__caption {
    top: -50%;
    left: 0;
  }
  .footer__container {
    gap: 0;
    padding-left: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "contact"
      "credits";
  }
  .form__container {
    margin-top: -3rem;
  }
  .input__container {
    width: auto;
  }
  .credits {
    margin: 0;
    padding-bottom: 1rem;
  }
}
